
-- https://docs.databricks.com/en/lakehouse-monitoring/expense.html

In [4]:
%sql
SELECT usage_date, sum(usage_quantity) as dbus
FROM system.billing.usage
WHERE
  usage_date >= DATE_SUB(current_date(), 30) AND
  sku_name like "%JOBS_SERVERLESS%" AND
  custom_tags["LakehouseMonitoring"] = "true"
GROUP BY usage_date
ORDER BY usage_date DESC

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

DataFrame[usage_date: date, dbus: decimal(38,18)]